
@{
    ViewData["Title"] = "Contact";
    //To change this page to no-index, edit "index" to "noindex" 
    ViewData["indexOption"] = "noindex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact-page">
    <section class="contact-banner">
        
    </section>
    <section class="contact-content">
        <h3>BeMo Academic Consulting Inc.</h3>
        <p><em>Toll Free:</em> 1-855-900-BeMo (2366)</p>
        <p><em>Email:</em> info@bemoacademicconsulting.com</p>
        <form>
            <label for="name">NAME:*</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">EMAIL ADDRESS:*</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="message">HOW CAN WE HELP YOU?*</label><br>
            <input type="text" id="message" name="message"><br>
            <div class="form-buttons"><input type="reset" value="Reset"><input type="submit" value="Submit"></div>
        </form>
        <p><em>Note:</em> If you are having difficulties with our contact us form above, send us an email to info@bemoacademicconsulting.com (copy & paste the email address)</p>
    </section>
</section>

